<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave1</name>
  <description></description>
  <remoteFS>/home/centos</remoteFS>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.29.1">
    <host>172.31.23.177</host>
    <port>22</port>
    <credentialsId>CENTOS-USER-SSH-PEM</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>SLAVE</label>
  <nodeProperties/>
</slave>